{% load static %}

<main class="main-content-container">
    <div class="main-content main-content-list container">

    {% include 'cardapio/partials/cafemanha.html' %}
    {% include 'cardapio/partials/lanche10h.html' %}
    {% include 'cardapio/partials/almoco.html' %}
    {% include 'cardapio/partials/lanche15h.html' %}
    {% include 'cardapio/partials/lanche18h.html' %}
    {% include 'cardapio/partials/janta.html' %}
    {% include 'cardapio/partials/lanche22h.html' %}

    </div>
</main> 